
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'Run/style.css'%}">
</head>

<body>
  {%block body%}
<form method="post" action="">
  {%csrf_token%}
  <table>
<tr>Acitvity</tr>
<td><input type="text" name="activity"></td>
<br>
<tr>Title</tr>
<td> <input type="text" name="title"></td>
<br>
<tr>Speaker/Resource Person</tr>
<td><input type="text" name="speaker"></td>
<br>
<tr>No of participants</tr>
<td><input type="text" name="number"></td>
<br>
<tr>Remark</tr>
<td><input type="text" name="remark"></td>
<br>

</table>
<button type="submit">Submit</button>
</form>
<table style="width:100%;padding: 15px;text-align: left; border: 1px solid black;">
<tr>
  <td>Activity</td>
  <td>Title</td>
  <td>Speaker/Resource Person</td>
  <td>No of participants</td>
  <td>Remark</td>
</tr>
{%for confi in confo%}
  <tr>
<td><h2>{{confi.activity}}</h2></td>
<td><h2>{{confi.title}}</h2></td>
<td><h2>{{confi.speaker}}</h2></td>
<td><h2>{{confi.number}}</h2></td>
<td><h2>{{confi.remark}}</h2></td>
<form method="post">
  {%csrf_token%}
  <td><a href="{{confi.id}}">Delete</a></td>
</form>
</tr>
{%endfor%}
</table>

{%endblock%}
<a href ="{%url 'Run:faculty'%}">Faculty Page</a>
</body>
</html>
